<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- 'File' param value needs to be customized for the running server  -->
  <!-- For tomcat use - 'catalina.home' . For jetty use - 'jetty.home' -->

  <appender name="FileAppender" 
    class="org.apache.log4j.DailyRollingFileAppender">
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="File" value="${catalina.home}/logs/zurich.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %t [%c] %m%n" />
    </layout>
  </appender>

  <appender name="WSFileAppender" 
    class="org.apache.log4j.DailyRollingFileAppender">
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="File" value="${catalina.home}/logs/zurich-ws.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %t [%c] %m%n" />
    </layout>
  </appender>
  
  <category name="org.jostho" additivity="false">
    <priority value="debug" />
    <appender-ref ref="FileAppender" />
  </category>
  
  <category name="org.springframework.ws" additivity="false">
    <priority value="debug" />
    <appender-ref ref="WSFileAppender" />
  </category>
  
  <root>
    <priority value="warn" />
    <appender-ref ref="FileAppender" />
  </root>

</log4j:configuration>